
<div class="jumbotron">
    <h1>Bienvenido/a a VitalVibe GYM</h1>
    <p>Tu destino para una vida más saludable y activa</p>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
            <img src="./../../../assets/Imagenes/fondo-galeria.jpg" alt="Imagen">
        <h3>Rutina Personalizada</h3>
        <p>Logra tus objetivos con la ayuda de nuestros entrenamientos personalizados.</p>
      </div>
    </div>
      <div class="col-md-4">
        <div class="card">
            <img src="./../../../assets/Imagenes/card2.jpeg" alt="Imagen">
        <h3>Evaluación Física</h3>
        <p>Conoce tu estado físico con una evaluación completa y personalizada.</p>
      </div>
    </div>
      <div class="col-md-4">
        <div class="card">
            <img src="./../../../assets/Imagenes/fondo-galeria.jpg" alt="Imagen">
        <h3>Cálculo IMC</h3>
        <p>Infórmate sobre tu IMC y descubre cómo mejorar tu salud enfocandote en el deporte.</p>
      </div>
    </div>
    </div>
  </div>

  
